/* Base Styles */

* {
	box-sizing: border-box;
}

body {
	background-image: url("background.jpg");
	background-color: #61122f;

}

.text-center{
	text-align: center;
	color: #fff;
}

/*** HEADER ***/

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
  font-family: 'Yeon Sung', cursive;
}

#header-nav {
  border: 0;
  background-color: #F6B319;
  color: #FFFFFF;
  border-radius: 0;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
  text-align: center;
}

#logo-img{
	background: url(../images/logo.png) no-repeat;
	height: 100px;
	width: 100px;
	margin: 20px 15px 0 0;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: capitalize;	
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#nav-list{
	margin-top: 15px;
}

#nav-list a{
	color: #61122f;
	text-align: center;
}

#nav-list a:hover{
	background-color: #e7e7e7;
}

#nav-list a span{
	font-size: 1.8em;
}

#phone{
	margin-top: 5px;
}

#phone a{ /*Phone number*/
	text-align: right;
	padding-bottom: 0;
}

#phone div{ /*Food on call*/
	text-align: right;
	color: #557c3e;
}


/*** END OF HEADER ***/

/*** HOME PAGE ***/

/* .container .jumbotron{
	padding: 0;
	box-shadow: 0 0 50px #3f0c1f;
	border: 2px solid black;
} */

h1 {
	font-family: 'Poppins', sans-serif;
	color: #000000;
}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

/*#chicken-div>section, #prawn-div>section, #sushi-div>section {
	border:	1px solid black;
	background-color: #00fa9a;
	width: 100%;
	height: auto;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 125%;
	color: black;
	position: relative;
	overflow: auto;
}

#chicken, #prawn, #sushi {
	
	text-align: center;
	width: 30%;
	margin-left: 34%;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 150%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #D67C7C;
}

#prawn {
	background-color: #008b8b;
}

#sushi {
	background-color: #8B0000;
	color: white;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#prawn-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}
*/

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/*** END OF HOME PAGE ***/

/*** MENU Category page ***/
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}

/*** END OF MENU Category PAGE ***/

/*** SINGLE Category PAGE ***/
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/*** END OF SINGLE Category PAGE ***/

/*** Start of footer ***/

.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #333;
	border-top: 0;
	color: white;
}

.panel-footer div.row{
	margin-bottom: 35px;
}

#hours, #address{
	line-height: 2;
}

#hours>span, #address>span, #testimonials>span{
	font-weight: bold;
	font-size: 1.2em;
}

#hours>p, #address p{
	color: #dc143c;
	font-size: .9em;
	line-height: 1.8em;
}

#address p{
	color: #ff6347;
}

#testimonials{
	font-style: italic;
}

#testimonials p:nth-child(2){
	margin-top: 25px;
}
/*** End of Footer ***/

/*** Large Devices ***/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/hotel.jpg') no-repeat;
    height: 675px;
  }
}

/*** Medium Devices ***/
@media(min-width: 992px) and (max-width: 1199px){
/*** Header ***/
  #logo-img {
    background: url('../images/logo.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /*** End of Header ***/

  /*** Home Page ***/
  .container .jumbotron {
    background: url('../images/hotel1.jpg') no-repeat;
    height: 558px;
  }
  /*** End of Home Page ***/
}

/*** Small devices only ***/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/hotel2.jpg') no-repeat;
    height: 432px;
  }
  /* End of Home Page */
}

/*** Extra small devices ***/
@media(max-width: 767px){
	/*Header*/
	.navbar-brand{
		padding-top: 15px;
		height: 80px;
	}

	.navbar-brand h1{
		padding-top: 10px;
		font-size: 8vw;
	}

	#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  	}

  	#collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  	}

	#call-btn{
		font-size: 1.5em;
		display: block;
		margin: 0 20px;
		padding: 10px;
		border: 2px solid #fff;
		background-color: #F6B319;
		color: #61122f;
	}

	#xs-deliver{
		margin-top: 5px;
		font-size: 1.2em;
		letter-spacing: 0.1em;
		text-transform: capitalize;
	}
	/*End of Header*/

	  /* Home Page */
	  .container .jumbotron {
	    margin-top: 30px;
	    padding: 0;
	  }
	  #menu-tile, #specials-tile {
	    width: 360px;
	    margin: 0 auto 15px;
	  }

	  .menu-item-photo {
	    margin-right: auto;
	  }
	  .menu-item-tile .menu-item-price {
	    text-align: center;
	  }
	  .menu-item-description {
	    text-align: center;;
	  }
	}

	/* End of Home page */

	/*Footer*/

	.panel-footer section{
		margin-bottom: 35px;
		text-align: center;
	}
	.panel-footer section:nth-child(3){
		margin-bottom: 0;
	}

	.panel-footer hr{
		width: 100%;
	}

	/* End of Footer */
}

/*** Super extra small devices (e.g. moto G4, ihone 4 etc.) ***/

@media(max-width: 480px){
	.navbar-brand h1{
		padding-top: 5px;
		font-size: 10vw;
	}

	/* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }

}